.rz-left-nav {
	display: block;
	background: rgba(255, 255, 255, 0.1);
	height: 100%;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #666;
	}
	a {
		display: block;
		color: white;
		text-decoration: none;
		padding: 1rem 0.5rem;
		&:hover {
			background: rgba(255, 255, 255, 0.25);
		}
	}
}
