@import "./cards.less";
@import "./lists.less";
@import "./main.less";
@import "./nav.less";
@import "./recipes.less";

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #eee;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
