main {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	background: var(--gray-3);
	color: var(--accent-11);
	min-height: 80vh;
	.app-layout-inner {
		display: flex;
		flex: 1;
	}
	.app-layout-left-nav {
		flex: 0 0 200px;
	}
	.app-layout-content {
		flex: 1 0 300px;
		padding: 1rem;
	}
}
